body,h1,h2,h3,h4,h5,h6,p,span{
    font-family: 'Work Sans', sans-serif;
}
*{
    margin: 0;
    padding: 0;
}
.clearfix::after{
    content: "";
    clear: both;
    display:block;
}
.left{
    float: left;
}
.right{
    float: right;
}
.t-center{
    text-align: center;
}
.t-start{
    text-align: left;
}
.t-end{
    text-align: right;
}
.container{
    width: 1100px;
    margin: auto;
}
img{
    max-width: 100%;
}
/* header section start */
.header {
    background: #fff;
    padding: 5px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 11;
    border-bottom: 1px solid #ddd;
    box-shadow: 2.5px 4.33px 30px 0 rgb(64 87 191 / 20%), 2.5px 4.33px 30px 0 rgb(64 87 191 / 20%);
}
.header-logo-left{
    width: 30%;
}
.header-logo-left img{
    width: 100px;
    margin-top: 10px;
}
.header-menu-right{
    width: 70%;
}
.h-menu{}
.h-menu li{
    display: inline-block;
}
.h-menu li a{
    display: inline-block;
    color:#000;
    text-decoration: none;
    font-size: 20px;
    padding: 10px 15px;
    line-height: 60px;
    font-weight: 500;
}
/* header section end  */

/* banner section start  */
.banner{
    background: url(img/bg.jpg) no-repeat center center;
    background-size: cover;
    padding: 180px 0;
    color: #fff;
    position: relative;
    z-index: 1;
}
.banner::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.432);
    z-index: -1;
}
.banner p{
    font-size: 24px;
    margin-bottom: 14px;
}
.banner h2{
    margin-bottom: 34px;
    font-size: 50px;
}
.default-btn {
    width: 145px;
    color: #767676;
    background: #fff;
    font-size: 20px;
    display: inline-block;
    padding: 18px 17px;
    text-decoration: none;
    font-weight: 500;
    border-radius: 10px;
    margin-left: 15px;
    position: relative;
    z-index: 1;
}
.default-btn::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background:#dfa038;
    border-radius: 10px;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    transition: .5s;
}
.default-btn:hover::before{
    opacity: 1;
    visibility: visible;
}
.default-btn:hover{
    color: #fff;
}
/* banner section end */

/* pricing-section start */
.pricing-section{
    background:#f7f7f7;
    padding: 50px 0;
}
.p-title h1{
    font-size: 56px;
    margin-bottom: 15px;
    font-weight: 500;
}
.p-title p{
    font-size: 17px;
    margin-bottom: 70px;
}
.p-content{}
.p-table-item{
    background: #fff;
    width: 31.3%;
    margin-right: 2%;
}
.p-table-head{
    border-bottom: 2px solid #ddd;
    padding: 25px;
    transition: .5s;
}
.p-table-head h3{
    font-weight: 500;
    font-size: 25px;
    margin-bottom: 19px;
}
.p-table-head h1 {
    font-size: 50px;
    margin-bottom: 20px;
    background: #f5f5f5;
    padding: 4px 12px;
}
.p-table-head span{
    font-size: 24px;
}
.p-table-head h4{
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: 400;
}
.p-table-head p{
    font-size: 17px;
}
.p-table-body{
    padding: 25px;
}
.p-menu{
    list-style: none;
}
.p-menu li {
    font-size: 20px;
    padding: 15px;
    margin-left: 20px;
}
.p-menu li span {
    color: #e79230;
    display: inline-block;
    font-size: 28px;
    margin-right: 0px;
    width: 58px;
}
.p-button {
    display: block;
    width: 55%;
    padding: 15px;
    background: #fff;
    border: none;
    cursor: pointer;
    margin: auto;
    box-shadow: 2.5px 4.33px 30px 0 rgb(64 87 191 / 20%);
    border-radius: 5px;
    font-size: 15px;
    margin-top: 22px;
    transition: .5s;
}
/* Hover part  */
.p-table-item:hover .p-table-head{
    background: #e79230;
    color: #fff;
}
.p-table-item:hover .p-button{
    color: #fff;
    background:#e79230;
}
.p-table-item:hover .p-table-head h1{
    background: #e79230;
}
/* pricing-section end */

/* Team section start  */
.team{
    padding: 70px 0;
}
.team-title{}
.team-title h2{
    font-size: 40px;
    text-align: center;
    margin-bottom: 50px;
    font-weight: 400;
}
.team-members{}
.member {
    width: 23%;
    margin-right: 2%;
    border: 5px double #e79230;
    height: 330px;
    box-sizing: border-box;
    box-shadow: 2.5px 4.33px 30px 0 rgb(64 87 191 / 20%);
}
.member:nth-child(4){
    margin-right: 0;
}
.member img {
    width: 224px;
    margin-left: 14px;
}
.member-id{
    margin-left: 30px;
    margin-top: 20px;
}
.member h4 {
   font-size: 20px;
}
.member p {
    color: #767676;
    font-size: 18px;
    margin-top: 5px;
}
/* Team section end */

/* news-section start */
.news-section{
    background: #f5f5f5;
    padding: 50px 0;
}
.news-title{}
.news-title p{
    font-size: 18px;
}
.news-title h2 {
    margin-top: 35px;
    font-size: 38px;
    font-weight: 500;
}
.news-form{}
.news-form .email {
    width: 388px;
    padding: 17px;
    margin: auto;
    display: block;
    border-radius: 10px;
    border: 2px solid #bdc731;
    font-size: 16px;
    outline: 0;
    margin-top: 40px;
    box-shadow: 2.5px 4.33px 30px 0 rgb(64 87 191 / 10%);
}
.news-form .email:focus{
    border:2px solid #5783aa;
    box-shadow: 2.5px 4.33px 30px 0 rgb(64 87 191 / 20%);
}
.btn{
    width: 250px;
    padding: 18px 20px;
    font-size: 20px;
    margin-top: 22px;
    color: #fff;
    background: #ae962e;
    border: 1px solid transparent;
    border-radius: 10px;
    transition: .5s;
    cursor: pointer;
}
.btn:hover{
    color: #ae962e;
    background: #fff;
    border: 1px solid #ae962e;
}
/* news-section end */

/* blog section start  */
.blog-title h2{
    margin-bottom: 40px;
    font-size: 35px;
}
.blog-content-left{
    width: 40%;
}
.blog-content-left img{
    width: 400px;
}
.blog-content-right{
    width: 60%;
}
.blog-content-right h4 {
    color: #555555;
    font-size: 19px;
    margin-bottom: 18px;
}
.blog-content-right p {
    margin-bottom: 18px;
    font-size: 16px;
    line-height: 25px;
}
/* blog section end */

/* about section start  */
.about{
    background: #f5f5f5;
    padding: 60px 0;
}
.about-title{}
.about-title p{}
.about-title h2 {
    font-size: 35px;
    font-weight: 500;
    margin-top: 50px;
}
.about-content{}
.about-item {
    width: 30.3%;
    margin-right: 3%;
    height: 355px;
    box-sizing: border-box;
    margin-top: 90px;
    border: 2px solid #cacbcc;
}
.about-item:nth-child(3){
    margin-right: 0;
}
.about-item p {
    font-size: 16px;
    padding: 32px 24px;
    color: #88817a;
    background: #fff;
    line-height: 28px;
    box-shadow: 2.5px 4.33px 30px 0 rgb(64 87 191 / 20%);
    position: relative;
}
.about-item p::before {
    content: "\f10d";
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    color: rgba(0, 0, 0, 0.137);
    font-size: 60px;
    position: absolute;
    top: 22px;
    left: 13px;
}
.about-item p::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 20px 0 20px;
    border-color: #ffffff transparent transparent transparent;
    margin-bottom: -19px;
}
.about-id{
    margin-top: 25px;
    margin-left: 50px;
}
.about-id img {
    width: 80px;
    border: 8px solid #aa972c;
}
.id-left{
    width: 50%;
}
.id-right{
    width: 50%;
    margin-top: 20px;
}
.about-id h4{
    margin-bottom: 10px;
    font-size: 18px;
}
.about-id span{
    font-size: 17px;
}
/* about section end */
/* contact section start  */
.contact{
    padding: 70px 0;
}
.contact-title h3 {
    margin-bottom: 20px;
    font-size: 23px;
}
.contact-title p {
    color: #767aa2;
    width: 688px;
    margin: auto;
    font-size: 16px;
    line-height: 30px;
    word-spacing: 4px;
    margin-bottom: 40px;
}
.mail{
    width: 500px;
    padding: 17px;
    margin: auto;
    display: block;
    border-radius: 10px;
    border: 3px solid #bdc731;
    font-size: 16px;
    outline: 0;
}
.text{
    display: inline-block;
    width: 220px;
    padding: 17px;
    margin: auto;
    border-radius: 10px;
    border: 3px solid #bdc731;
    font-size: 16px;
    outline: 0;
    margin-top: 20px;
    margin-right: 8px;
    margin-left: 8px;
}
.text-m {
    display: block;
    width: 500px;
    margin: auto;
    border-radius: 10px;
    margin-top: 20px;
    height: 110px;
    padding: 13px;
    font-size: 20px;
    border: 3px solid #bdc731;
    outline: 0;
    margin-bottom: 10px;
}
.c-form:focus{
    border:3px solid #5783aa;
    box-shadow: 2.5px 4.33px 30px 0 rgb(64 87 191 / 20%);
}
/* contact section end */
/* footer start  */
.footer p{
    font-size: 20px;
}
/* footer end */